                    <!--Contact info - Small Only - Loads first by default --> 
                    <div class="show-for-small-only small-12 columns" >

                        <div class="row  ptrbl2">

                            <h1 class="section-text">Let's talk</h1>
                    
                            <p class="section-text  pb2">Have questions or a case in mind? Get in touch below:</p>
                        
                            <div class="small-12  columns  mb3">

                                <!-- Form - uses mailer.php file for action attribute --> 
                                <form data-ui-component="contact-form"  method="post" action="../mailer.php">
                        
                                    <label class="section-text" for="fullName">Full Name</label>
                                    <input name="fullName" id="fullName" type="text" placeholder="Your full name please" required>

                                    <label class="section-text" for="email">Email</label>
                                    <input name="email" id="email" type="email" placeholder="Please enter a valid e-mail address" required>

                                    <label class="section-text" for="subject">Subject</label>
                                    <input name="" id="subject" type="text" placeholder="Subject" required>

                                    <label class="section-text" for="message">Your Message</label>
                                    <textarea name="message" id="message" cols="30" rows="7" placeholder="" required>
                                    </textarea>
                                  
                                    <button type="submit" class="[ medium  button  button--primary ]  right">Submit</button>

                                </form>

                                <!-- Success or Error Message for contact form --> 
                                <div class="panel  panel--success" data-ui-component="form-message">

                                    <div class="panel-body">

                                        <h1 class="panel-title">Success!</h1>

                                        <p>Your message has been succesfully sent to us.</p>

                                    </div>

                                </div>
                        
                            </div>
                        
                            <div class="small-12 medium-5 large-6  columns  section-text">
                        
                                <ul>
                        
                                    <li class="h4  mb3">
                                        <span class="txtc3  [ icon--large  icon icon--envelope ] ">
                                        
                                        </span> 
                                        eduardo@soriallc.com
                                    </li>
                        
                                    <li class="h4  mb3">
                                        <span class="txtc3  [ icon--large  icon icon--phone ] ">
                                        
                                        </span>  
                                        (787) 630-9443
                                    </li>
                        
                                    <li class="h4  mb3">
                        
                                        <span class="txtc3  [ icon--large  icon icon--buildings ] ">
                                        
                                        </span>  
                        
                                        (939) 338-3934
                        
                                    </li>
                        
                                </ul>

                                <ul class="h4">

                                    <span class="txtc3  left [ icon--large  icon icon--location ] ">
                                    
                                    </span>  

                                    <div class="cf">
                                        <li>MCS Plaza</li>
                                        <li>255 Ponce de León Avenue</li>
                                        <li>Suite 808</li>
                                        <li class="mb2">Hato Rey, Puerto Rico</li>
                                        <li>
                                            <a href="https://www.google.com.pr/maps/place/MCS+Plaza/@18.4263598,-66.0564049,18z/data=!4m2!3m1!1s0x0000000000000000:0xef4654344b2951d0" target="_blank">Show on Map  
                                            </a>
                                        </li>
                                    </div>
                                    
                                </ul>   
                        
                            </div>
                        
                        </div>

                    </div>