

 <!-- Footer --> 
<footer class="section--alt">

    <div class="row">

        <div class="small-12 columns show-for-small-only [ prl2 ] ">

            <button data-action="go-to-top" class="button  medium  button--expanded   button--secondary mtb3 icon--up-open-big-a">
                Back to Top
            </button>

            <hr>

        </div>

        <div class="small-12 columns">

            <div class="footer-siteInfo" role="contentinfo">

                <ul class="list--inline"  rel="copyright">
                    <li>© 2016 Soria, llc All Rights Reserved</li>
                    <li><a href="contact.html">Contact Us</a></li> | 
                    <li><a href="site-map.html">Sitemap</a></li>
                </ul>

                <span rel="credit">
                    Website by <a href="http://guillermo-casanova.com/">Guillermo Casanova </a>
                </span>

            </div>

        </div>

    </div>
    
</footer>


<script>
    initBackToTopButton(); 
</script>