
<div class="wrapper">
    <footer class="pt2">
    
        <div class="row">
    
            <div class="small-12 columns show-for-small-only [ prl2 ] ">
    
                <button data-action="go-to-top" class="button  button--small  right  button--expanded  button--secondary mtb3">
                    Back to Top <span rel="up"></span>
                </button>
    
                <hr>
    
            </div>
    
            <div class="small-12 columns">
    
                <div class="footer-siteInfo">
    
                    <p rel="copyright">
    
                    © 2015 Soria, LLC All Rights Reserved
                    </p>
    
                    <p rel="credit">
                    Website by <a href="http://guillermo-casanova.com/">Guillermo Casanova </a>
                    </p>
    
                </div>
    
            </div>
    
        </div>
        
    </footer>
</div>