
/*------------------------------------*\
    #Icons  (codes for icons.scss partial)
\*------------------------------------*/


@import "typography.scss";


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?37598492');
  src: url('../fonts/fontello.eot?37598492#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?37598492') format('woff'),
       url('../fonts/fontello.ttf?37598492') format('truetype'),
       url('../fonts/fontello.svg?37598492#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
// .icon-instagram-filled:before { content: '\e800'; } /* '' */
// .icon-phone:before { content: '\e801'; } /* '' */
// .icon-attention:before { content: '\e802'; } /* '' */
// .icon-info:before { content: '\e803'; } /* '' */
// .icon-male:before { content: '\e804'; } /* '' */
// .icon-angle-down:before { content: '\e805'; } /* '' */
// .icon-angle-up:before { content: '\e806'; } /* '' */
// .icon-angle-right:before { content: '\e807'; } /* '' */
// .icon-angle-left:before { content: '\e808'; } /* '' */
// .icon-female:before { content: '\e809'; } /* '' */
// .icon-plus:before { content: '\e80a'; } /* '' */
// .icon-minus:before { content: '\e80b'; } /* '' */
// .icon-laptop:before { content: '\e80c'; } /* '' */
// .icon-tags:before { content: '\e80d'; } /* '' */
// .icon-print:before { content: '\e80e'; } /* '' */
// .icon-clock:before { content: '\e80f'; } /* '' */
// .icon-doc-text:before { content: '\e810'; } /* '' */
// .icon-vimeo:before { content: '\e811'; } /* '' */
// .icon-sun:before { content: '\e812'; } /* '' */
// .icon-location-1:before { content: '\e813'; } /* '' */
// .icon-snow:before { content: '\e814'; } /* '' */
// .icon-leaf:before { content: '\e815'; } /* '' */
// .icon-facebook:before { content: '\e816'; } /* '' */
// .icon-mail:before { content: '\e817'; } /* '' */
// .icon-twitter-bird:before { content: '\e818'; } /* '' */

$icon--alert: '\e802';
$icon--info: '\e803';

$icon--plussign: '\e80a';
$icon--negsign:  '\e80b';
$icon--tags: '\e80d'; 

//Communication 
$icon--phone: '\e801';
$icon--fax: '\e80e';
$icon--email: '\e817';

$icon--female: '\e809';
$icon--male : '\e804';
$icon--clock: '\e80f';


//Arrows 
$icon--arrowright: '\e807';
$icon--arrowleft: '\e808';
$icon--arrowup: '\e806';
$icon--arrowdown: '\e805';

//Documents/Devices
$icon--doc: '\e810';
$icon--laptop : '\e80c';

//Social Media 
$icon--twitter: '\e818';
$icon--facebook: '\e816';
$icon--location: '\e813';
$icon--vimeo: '\e811';
$icon--instagram: '\e800'; 

//Seasons
$icon--winter: '\e814';
$icon--summer: '\e812';
$icon--spring: '\e815';


@mixin icon($icon: false, $position: before) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: $icon;
      font-family: fontello;
      font-style: normal; 
      vertical-align: middle; 
      margin-right: rem-calc(4); 
    }

    @content;
    
  }
}
