
/*------------------------------------*\
    #Animations
\*------------------------------------*/



/*------------------------------------*\
    #Fade In Animation
\*------------------------------------*/


.a-fadeIn {
    opacity: 0; 
    animation: fadeIn .2s ease-in-out; 
}


@keyframes fadeIn { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }

}



// Sets all enter-in and fade-in classes start at zero to avoid FOUT
.header-enter-in,
.fade-in,
.fadeIn {
    opacity: 0; 
}