
/*------------------------------------*\
    #Buttons 
\*------------------------------------*/

.button {
  @extend %button;
}

.button--primary {
  @include button--flat($primaryColor); 

    &.secondaryAction {
        @include button--flat($secondaryColor);  
    }   
}

.button--secondary {
  @include button--outline($primaryColor);

  &.secondaryAction {
        @include button--outline($secondaryColor);  
    }   
}

.button--tetriary {
  @include button--outline($primaryColor);

  &.secondaryAction {
        @include button--outline($accentColor);  
    }   
}



.button--back {
  &:before {
    content: "← BACK"
  }
}




/*------------------------------------*\
    #Button Classes
\*------------------------------------*/


.button--expanded {
    width: 100%; 
}





/*------------------------------------*\
    #Tab Buttons
\*------------------------------------*/


.fixedTab {
    background-color: $primaryColor;
    color: #fff; 
    bottom: 0; 
    left: 20px;
    right: 0;  
    z-index: 101; 
    font-size: rem-calc(18); 
    overflow: hidden; 
    white-space: nowrap; 
    width: rem-calc(200px); 
    cursor: pointer; 
    @include single-transition(all, 0.2s, ease-in-out); 
    @include transform(translateY(80px)); 
    @extend %pr2;
    @extend %pl2;  
    @extend %pt2; 
    @extend %pb2; 
    @extend %position--fixed; 


    &.is-visible {
        @include transform(translateY(0)); 
    }

    .link {
        @include single-transition(all, 0.2s, ease-in-out); 
        opacity: 0; 
    }

    a {
        color: $secondaryColor; 

        &:hover {
            color: #fff; 
        }
    }

    &:hover {
        width: rem-calc(324px); 

        .link {
            opacity: 1; 
        }
    }
}





/*------------------------------------*\
    #Back To Top Button  
\*------------------------------------*/


.button--backToTop {
    @include border-radius(50%);
    @include single-transition(all, .2s, ease-in-out); 
    @extend %position--fixed; 
    background-color: #2b2b2b;
    border: 0;
    bottom: em-calc(30); 
    box-shadow: none; 
    cursor: pointer; 
    display: absolute;
    height: em-calc(40);
    outline: none; 
    padding: 0; 
    right: em-calc(20); 
    width: em-calc(40);
    z-index: 999;
    opacity: 0;  

    &:hover,
    &:active {
        background-color: $off-black; 
    
        &:before {
                color: #fff;
        }
    }

    @include icon($icon--arrowup) {
    @extend %position--absolute; 
        color: $grey--dark; 
        font-size: em-calc(30);
        left: 0;
        right: 0; 
        top: 0; 
        padding-top: 8%; 
        margin: 0 auto;  
        height: 100%;
        width: 100%;
    }

    &.showing {
        opacity: 1; 
    }
}





//
//Function to  make 3d buttons of all colors 
//
// @each $val in $aiguilleColors {

//     $colorName: nth($val, 1);
//     $code: nth($val, 2);

//     .button--3d--#{$colorName} {
//       @include button--3d($code); 
//     }
// }


//
//Function to make flat buttons of all colors
//
// @each $val in $aiguilleColors {

//   $colorName: nth($val, 1);
//   $code: nth($val, 2);

//   .button--flat--#{$colorName} {
//     @include button--flat($code);
//   }
// }
