
/*------------------------------------*\
    #Buttons 
\*------------------------------------*/

.button {
  @extend %button;
}

.button--primary {
  @include button--flat($primaryColor); 

    &.secondaryAction {
        @include button--flat($secondaryColor);  
    }   
}

.button--secondary {
  @include button--outline($primaryColor);

  &.secondaryAction {
        @include button--outline($secondaryColor);  
    }   
}





/*------------------------------------*\
    #Button Classes
\*------------------------------------*/


.button--expanded {
    width: 100%; 
}





/*------------------------------------*\
    #Tab Buttons
\*------------------------------------*/


.fixedTab {
    background-color: $primaryColor;
    color: #fff; 
    bottom: rem-calc(40px); 
    left: 0;
    right: 0;  
    z-index: 101; 
    font-size: rem-calc(18); 
    overflow: hidden; 
    white-space: nowrap; 
    width: rem-calc(200px); 
    cursor: pointer; 
    opacity: 0; 
    @include single-transition(all, 0.3s, ease-in-out); 
    @extend %pr2;
    @extend %pl2;  
    @extend %pt2; 
    @extend %pb2; 
    @extend %position--fixed; 


    &.is-visible {
        opacity: 1; 
    }

    .link {
        opacity: 0; 
        @include single-transition(all, 0.3s, ease-in-out); 
    }

    a {
        color: $secondaryColor; 

        &:hover {
            color: #fff; 
        }
    }

    &:hover {
        width: rem-calc(324px); 

        .link {
            opacity: 1; 
        }
    }
}
