
/*------------------------------------*\
    #Components
\*------------------------------------*/


/*------------------------------------*\
    #Tooltips  //Other properties are in the settings--overwrite.scss file 
\*------------------------------------*/


.tooltip {
	border-top: solid 4px $purple;
	max-width: em-calc(300);
}





/*------------------------------------*\
    #Choice With Icon Object
\*------------------------------------*/


.choiceWithIcon {
	@extend %text-center; 

	.choiceWithIcon-icon {
			left: 0;
			margin: 0 auto;
			right: 0;
			top: 0;
            height: rem-calc(80px);
            width: rem-calc(80px); 

			@include single-transition(all, .2s, ease-in-out);
			
			&:hover,
			&:active {
	    @extend %position--relative; 
	    top: -1px;
	  	} 
	}

	.bd {
			@extend %horizontal-align; 
	}

}

.choiceWithIcon--card {
    height: rem-calc(200px); 
}



/*------------------------------------*\
    #Newsposts
\*------------------------------------*/


.post-thumbnail {
    @extend %mb2; 
    width: 90%;
    height: auto;
}



.post-body {
    font-family: 'Open Sans', $base-font-family, sans-serif; 
}






/*------------------------------------*\
    #Profile Bios
\*------------------------------------*/


.profile {
    // filter: grayscale(100%);
    // -moz-filter:  grayscale(100%); 
    // -webkit-filter: grayscale(100%);
    overflow: hidden;
    @include single-transition(all, 0.2s, ease-in-out); 
    @extend %position--relative; 

    .profile-bio {
        @include transform(translateX(100%)); 
        background-color: rgba(60, 71, 80, 0.9); 
        color: #fff; 
        bottom: 0px; 
        top: 0px; 
        left: 0; 
        right: 0; 
        width: 100%;
        text-align: left; 
        @include single-transition(all, 0.2s, ease-in-out);
        @extend %position--absolute;  
        @extend %ptrbl3; 

        //Hides it with pixels on larger formats, since it needs 111% on smaller devices 
        @media #{$medium-up} {
            @include transform(translateX(400px)); 
        }
    }  

    .profile-bio-toggle {
        bottom: 0px;
        top: rem-calc(10px);
        right: 0;
        left: -40px;
        background-color: rgba(60, 71, 80, 0.9); 
        height: 40px;
        width: 40px;
        cursor: pointer; 
        @extend %position--absolute;

        &:hover {

            .icon {
                color: #fff; 
            }
        }

        .icon {
            color: $primaryColor;
            top: rem-calc(5px); 
            left: rem-calc(5px); 
            @include single-transition(all, 0.6s, ease-in-out); 
            @extend %position--absolute; 
        }
    } 

    .profile-bio-close {
        right: 0px; 
        top: 0px; 
        height: 40px;
        width: 40px;
        @extend %position--absolute; 

        .icon {
            top: rem-calc(5px); 
            left: rem-calc(5px); 
        }

    }
}


.profile-bio {

    .title {
        color: #fff; 
    }

    .body {
        color: #fff; 
        @extend %mt2; 
    }

}

.profile.is-showing {
    // filter: grayscale(0);
    // -moz-filter:  grayscale(0); 
    // -webkit-filter: grayscale(0); 

    .profile-bio {
        @include transform(translateX(0px)); 
    }

}
