
/*------------------------------------*\
    #Components
\*------------------------------------*/





/*------------------------------------*\
    #Profile Bios
\*------------------------------------*/


.profile {
    overflow: hidden;
    @include single-transition(all, 0.2s, ease-in-out); 
    @extend %position--relative; 

    .profile-bio {
        @include transform(translateX(100%)); 
        background-color: rgba(60, 71, 80, 0.9); 
        color: #fff; 
        bottom: 0px; 
        top: 0px; 
        left: 0; 
        right: 0; 
        width: 100%;
        text-align: left; 
        @include single-transition(all, 0.2s, ease-in-out);
        @extend %position--absolute;  
        @extend %ptrbl3; 

        //Hides it with pixels on larger formats, since it needs 111% on smaller devices 
        @media #{$medium-up} {
            @include transform(translateX(100%)); 
        }
    }  

    .profile-bio-toggle {
        bottom: 0px;
        top: rem-calc(10px);
        right: 0;
        left: -40px;
        background-color: rgba(60, 71, 80, 0.9); 
        height: 40px;
        width: 40px;
        cursor: pointer; 
        @extend %position--absolute;

        &:hover {

            .icon {
                color: #fff; 
            }
        }

        .icon {
            color: $primaryColor;
            top: rem-calc(5px); 
            left: rem-calc(5px); 
            @include single-transition(all, 0.6s, ease-in-out); 
            @extend %position--absolute; 
        }
    } 

    .profile-bio-close {
        right: rem-calc(5px); 
        top: 0px; 
        height: rem-calc(40px);
        width: rem-calc(40px);
        @extend %position--absolute; 

        .icon {
            top: rem-calc(5px); 
            right: rem-calc(10px); 
        }

    }
}


.profile-bio {

    .title {
        color: #fff; 
    }

    .body {
        color: #fff; 
        @extend %mt2; 
        @extend %h7; 
    }

}

.profile.is-showing {

    .profile-bio {
        @include transform(translateX(0px)); 
    }

}







/*------------------------------------*\
    #Contact Info Container 
\*------------------------------------*/

// TODO: Abstract this functionality into a component with classes 
[data-ui-component*="contact-info"] {
    z-index: 2; 
    @include single-transition(all, 0.6s, ease-in-out); 
    @include transform(translateY(0)); 


    &.is-hidden {
        z-index: 0; 
        opacity: 0; 
        @include transform(translateY(140%)); 
    }

}





/*------------------------------------*\
    #Contact Form States (It's used when a message is sent) 
\*------------------------------------*/


[data-ui-component*="contact-form"] {

    &.is-hidden {

        opacity: 0; 
        display: none; 

    }
}
