    
/*------------------------------------*\
    #Footer 
\*------------------------------------*/


footer {
  background-color: $secondaryColor; 
  bottom: 0; 
  left: 0;
  right: 0; 
  @extend %position--absolute; 
  @extend %display--block; 
  @extend %text-left; 
  @extend %text--white; 

  .footer-title {
    @extend %text--white;
  }

  .footer-link {  
    color: $grey--dark; 

    &:hover {
         @extend %text--white; 
    }

  }

}





/*------------------------------------*\
    #Credit Info 
\*------------------------------------*/


.footer-siteInfo {
  @extend %pb4; 
  @extend %text-center;

  a { 
    @include transition(color .2s ease-in-out);
    color: $grey--dark;
    @extend %link--underline; 

    &:hover {
      @extend %text--white; 
    }

  }
}


[rel*="copyright"] {
  @extend %mb1; 
  @extend %display--block; 
  @extend %text--micro;  

  @include breakpoint(teenBear) {
    float: left; 
  }
}
  
[rel*="credit"] {  
  @extend %mb1; 
  @extend %display--block; 
  @extend %text--micro; 

  @include breakpoint(teenBear) {
    float: right; 
  }
}





/*------------------------------------*\
    #Sticky Footer
\*------------------------------------*/


html, body {
    height: 100%;
}

[role*='main'] {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
}


footer, 
.push {
    height: 50px; /* .push must be the same height as .footer */
}

