    
/*------------------------------------*\
    #Footer 
\*------------------------------------*/


footer {
  @extend %display--block; 
  @extend %position--relative; 
  @extend %text-left; 
  @extend %text--white; 
  @extend %ptb2; 

  .footer-title {
    @extend %text--white;
  }

  .footer-link {  
    color: $grey--dark; 

    &:hover {
         @extend %text--white; 
    }

  }

}





/*------------------------------------*\
    #Credit Info 
\*------------------------------------*/


.footer-siteInfo {
  @extend %pb2; 
  @extend %text-center;
  @extend %text--micro;  
  @extend %text-center; 

  a { 
    @include transition(color .3s ease-in-out);
    color: $grey--dark;
    @extend %link--underline; 

    &:hover {
      color: $primaryColor; 
    }

  }
}


[rel*="copyright"] {
  @extend %mr1; 

      @media #{$medium-up} {

        float: left; 
    }
}
  
[rel*="credit"] {  
    
    @media #{$medium-up} {
    
        float: right; 
    }
}





/*------------------------------------*\
    #Sticky Footer
\*------------------------------------*/


html, body {
    @media #{$medium-up} {

        height: 100%;

    }   
}

[role*='main'] {
    @media #{$medium-up} {

        min-height: 100%;
        height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
        height: 100%;
        margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */

    }
}


footer, 
.push {
    @media #{$medium-up} {

        height: 50px; /* .push must be the same height as .footer */

    }
}

