
/*------------------------------------*\
    #Lists  
\*------------------------------------*/


.list {
  @extend %list;
}

.list--inline {
  & > li {
    display: inline-block; 
  }
}

.list--bullet {
  @extend %list;
  li {
    @extend %pl4; 
  }
}

.list--whiteText {
  li {
    @extend %text--white; 
  }
}


.list--siteMap {
  [class*="list-item"]:hover {
    text-decoration: underline; 
  }

  .list-item {
    color: $off-black; 
  }

  .list-item-subItem {
    color: $grey--dark;
 }
}

.list--h4 {
    & > li {
        @extend %h3; 
        line-height: rem-calc(32); 
    }
}