
/*------------------------------------*\
    #Navigation Styles  
\*------------------------------------*/



/*------------------------------------*\
    #Top Contact bar 
\*------------------------------------*/


.topContactBar {
  background-color: $secondaryColor;
  text-align: left; 

  .topContactBar-item {
    padding-top: rem-calc(4px);    
    padding-bottom: rem-calc(4px); 
	font-size: rem-calc(10);   
    line-height: rem-calc(16); 
    @extend %mr2; 

       @media #{$medium-up} {
          font-size: rem-calc(14);
            
       }

      &, 
      a {
        @extend %text--white;
      }

    }
}








/*------------------------------------*\
    #Multi-colored Bar 
\*------------------------------------*/

//By using a list of items we can create a border of different colors 
.highlightBorder {
    
    width: 100%; 
    font-size: 0; 

    ul {
        list-style: none; 
        width: 100%;
        font-size: 0; 
        @extend %display--inlineBlock; 
        @extend %mtrbl0; 

        li {
            width: 20%; 
            height: rem-calc(8);
            @extend %display--inlineBlock; 
            @extend %mtrbl0; 

        }

        li:nth-child(1) {
            background-color: $accentColor; 
        }

        li:nth-child(2) {
            background-color: $secondaryColor;
        }

        li:nth-child(3) {
            background-color: $grey--dark;
        }

        li:nth-child(4) {
            background-color: $primaryColor; 
        }

        li:nth-child(5) {
            background-color: $primaryColor--dark; 
        }
    }

}





/*------------------------------------*\
    #Top Bar Hiding/Showing Container   
\*------------------------------------*/

//Container for Navigation bar that hides and changes the state of .top-bar
.top-bar-container {
    z-index: 999;
    display: none;
    top: 0px;
    width: 100%;
    z-index: 99;
    left: 0px;
    @extend %position--fixed; 
    @include transition(transform, .6s, ease-in-out);     

    @include breakpoint(mamaBear) {
        display: block; 
    }

}

.top-bar-container.is-alt {
    
    .top-bar {
        background-color: #fff; 
        @extend %dropshadow1; 
        .top-bar-section ul li.top-bar-link > a {
            color: $secondaryColor; 
        }
        
        .title-area {
            
            .navBar-logo {
                display: none; 
            }

            .logo--alt {
                display: block; 
            }
        }
    }

}

.top-bar-container.is-fixed {
    width: 100%;
    @include translateY(0);
    @extend %position--relative; 
    
    @include breakpoint(mamaBear) {
        position: fixed; 
        left: 0;
        top: 0;
    }

}


.top-bar-container.is-hidden{
    @include translateY(-130px); 
    width: 100%;
    left: 0;
    @extend %position--fixed; 
    top: 0;
    z-index: 99;

}





/*------------------------------------*\
    #Top Bar Styles 
\*------------------------------------*/


.top-bar {
    z-index: 950;
    @include single-transition(all, 0.4s, ease-in-out); 

    &.is-normal {
        @extend %dropshadow1; 
    }
}





/*------------------------------------*\
    #Top Bar Links 
\*------------------------------------*/


.top-bar-section ul li.top-bar-link {
    
    @include single-transition(all, .2s, ease-in-out); 
    @extend %position--relative; 
    
    &:after {
        opacity: 0; 
        @include single-transition(all, .2s, ease-in-out); 

    }

    a {
        .top-bar.is-normal & {
            color: $secondaryColor; 
        }
        @include single-transition(all, .2s, ease-in-out); 
    }
    //Adds Bottom border to links on hover 
    &:hover {

        a {
        color: $primaryColor; 
    
        }

        &:after {
            height: 4px; 
            right: 0; 
            left: 0; 
            bottom: 0; 
            content: " "; 
            position: absolute; 
            display: block;
            color: $primaryColor; 
            border-bottom: 4px solid $primaryColor;
            margin-top: -4px;  
            opacity: 1; 
        }
    }


}





/*------------------------------------*\
    #Top Bar Dropdowns 
\*------------------------------------*/


.top-bar-section {
	  	
  .dropdown {
    background-color: $dropDown-color; 
    overflow: hidden; 
        
        .parent-link {
          display: none; 
        }
        //Overrides Foundation Dropdown styles inherited from Top bar Styles
        .dropdown-link {
            @include single-transition(all, .2s, ease-in-out);
            background-color: $dropDown-color; 
            border-left: 4px solid $dropDown-color; 
            overflow: hidden; 
            
             &:hover {
                border-left: 4px solid $primaryColor; 
                //Taken from settings--overwrite in order for li to have same bg color as link
                background-color: scale-color($topbar-dropdown-link-bg, $lightness: -5%);
             }

                            
            a {
                @include single-transition(all, .2s, ease-in-out); 
                line-height: rem-calc(44) !important; 
                padding-left: rem-calc(16) !important; 
                padding-right: rem-calc(16) !important; 

                &:hover{
                    @include transform(translateX(4px)); 
                    color: $primaryColor; 
                }
            }


        }

    } 
}





/*------------------------------------*\
    #Small Nav Styles 
\*------------------------------------*/


.off-canvas-list {

    li {

        @include single-transition(all, .2s, ease-in-out); 

         &:hover {
    
            & > a {

                @include single-transition(all, .2s, ease-in-out); 
                border-left: 4px solid $primaryColor; 
                color: $primaryColor; 
                
            }   
        }
    }


}





/*------------------------------------*\
    #Small Nav Hamburger Icon 
\*------------------------------------*/


.tab-bar {
  @extend %dropshadow1; 
  z-index: 970; 

    .menu-icon {
            span:after {
            
                @include single-transition(all, .2s, ease-in-out); 
                  box-shadow: 
              0px 0px 0px 1.5px $grey--dark, 
              0px 7px 0px 1.5px $grey--dark, 
              0px 14px 0px 1.5px $grey--dark;
            }

            
        &:hover,
        &:active {
            
            span:after {

              box-shadow: 
              0px 0px 0px 1.5px $secondaryColor, 
              0px 7px 0px 1.5px $secondaryColor, 
              0px 14px 0px 1.5px $secondaryColor;
            }

        }

    }

}





/*------------------------------------*\
    #Logo Container Styles 
\*------------------------------------*/


.title-area { 
    @extend %ml2; 
	@extend %opacity_hover;

	.toggle-topbar span {

	   color: $off-black;

    }

    .logo--alt {

        display: none; 

    }
}


.name {
    height: 100%; 
    @extend %display--block;  

}


.navBar-logo {
    width: rem-calc(110); 
    @extend %display--block;  

    @media #{$medium-up} {
        width: rem-calc(180);
    }
}





//Bug fix for background-position: fixed for parallax elements
.off-canvas-wrap, .inner-wrap,
.left-off-canvas-menu {
  -webkit-backface-visibility: inherit;
}






/*------------------------------------*\
    #Secondary Nav
\*------------------------------------*/


.secondaryNav {
    background-color: #fff;
    @extend %br1; 
    @extend %dropshadow1;
    @extend %position--relative; 

    .secondaryNav-list {
        background-color: #FFF;
        @extend %ml0; 
        @extend %pb2; 
        
        li.title--alt {
            background-color: $primaryColor; 
            width: 100%; 
            text-align: center; 
            color: #fff; 
            @extend %ptb2; 
            @extend %mb2; 
            @extend %h4; 
        }

        li.link {

            overflow: hidden; 
            border-left: 4px solid #fff; 
            @extend %h4; 
            @include single-transition(all, .2s, ease-in-out);

            &:hover {
                border-left: 4px solid $primaryColor; 
                background-color: $grey--light;  
            }

            a {
                width: 100%; 
                line-height: rem-calc(44); 
                padding-left: rem-calc(16); 
                padding-right: rem-calc(16);
                color: $secondaryColor;  
                @extend %ptb1; 
                @extend %display--block; 
                @include single-transition(all, .2s, ease-in-out); 

                &:hover {
                    background-color: transparent; 
                    color: $primaryColor; 
                    @include transform(translateX(4px)); 
                }

            }
            
            // Sets classes for links when is-active is applied
            &.is-active {
                    
                border-left: 4px solid $primaryColor; 
                background-color: $grey--light;  

                a {
                    background-color: transparent; 
                    color: $primaryColor; 
                    @include transform(translateX(4px));          
                }
            }

        }

    }
}




/*------------------------------------*\
    #Secondary Nav -- Fixed  
\*------------------------------------*/


.secondaryNav--fixed {
    display: none; 
    width: rem-calc(12 * 14);
    right: rem-calc(12 * 3); 
    z-index: 100; 
    @extend %mt5; 
    @extend %position--fixed; 

    .secondaryNav-list {

        li.title {
            color: $grey--dark;
            @extend %mtb2; 
            @extend %pt1; 
            @extend %pl2; 
            @extend %display--block; 
            @extend %h5; 

        }

    }

    @media #{$medium-up} {
        width: rem-calc(12 * 20); 
        display: block;
    }

    @media #{$large-up} {
        width: rem-calc(12 * 24); 
        right: rem-calc(50px); 

    }
}





/*------------------------------------*\
    #Footer Nav 
\*------------------------------------*/


.footer-nav {
  @extend %text-center; 
  
  hr {
    border: 1px solid $grey--dark;
  }

  li { 
    font-weight: $extra-bold; 
    @extend %display--block; 
    
    @include breakpoint(teenBear) {
      display: inline-block;
      margin-left: rem-calc(12);
      margin-right: rem-calc(12); 
    }
  }

  a {
    color: #fff; 

    &:hover {
      color: $green;
      @include single-transition(all, .2s, ease-in-out); 
    }
  }
}


//Triangle Above Drop-downs
//

// .top-bar-section ul.dropdown:after {
//  content: "";
//  position: absolute;
//  display: block;
//  top: -14px;
//  bottom: -14px;
//  bottom: auto;
//  left: 0;
//  right: 0;
//  margin: 0 auto; 
//  width: 0; 
//  border-width: 0 14px 14px;
//  border-style: solid;
//  border-color: $dropDown-color transparent;
// }


//
//Triangle Next To link that are dropdowns 
//

// .top-bar-section .right .has-dropdown > a:after {
//     -moz-border-bottom-colors: none;
//     -moz-border-left-colors: none;
//     -moz-border-right-colors: none;
//     -moz-border-top-colors: none;
//     border-color: $grey--mid transparent transparent;
//     border-image: none;
//     border-right: 5px inset transparent;
//     border-style: solid inset inset;
//     border-width: 5px;
//     content: "";
//     display: block;
//     height: 0;
//     margin-top: -2.5px;
//     right: -8px; 
//     top: 42.5px;
//     width: 0;
// }    

// .top-bar-section .right .has-dropdown > a {
//   padding-right: rem-calc(20) !important;
// }






