

/*------------------------------------*\
    #Page Styles 
\*------------------------------------*/


//Page Colors 
.sectionMainColor--pink {
  @include sectionMainColor($pink);}

.sectionMainColor--blue {  
  @include sectionMainColor($blue);}

.sectionMainColor--green {  
  @include sectionMainColor($green);}

.sectionMainColor--red {  
	@include sectionMainColor($red);}
  
.sectionMainColor--yellow {  
  @include sectionMainColor($yellow);}

.sectionMainColor--purple {  
  @include sectionMainColor($purple);}

.sectionMainColor--orange {  
  @include sectionMainColor($orange);}






/*------------------------------------*\
    #404 Page Styles 
\*------------------------------------*/


.text-container_404 {
  height: 200px;
  @include breakpoint(babyBear) { 
    height: 150px; 
    .vertical-align-middle {
      top: 0; 
      display: block; 
      position: relative; 
    }
  }
}
