
/*------------------------------------*\
    #Panels
\*------------------------------------*/


.panel {
  @extend %mt1; 
  @extend %dropshadow; 
}

.panel--warning {
    //@include panel($red, $icon--alert);
}

.panel--information {
    @include panel($primaryColor, false);
    border-top: 6px solid $primaryColor; 
    background-color: transparent; 
}


.panel--information--secondary {
    border-top: 6px solid $secondaryColor; 
}

.panel--information--tetriary {
    border-top: 6px solid $grey--dark; 
}

.panel-title {
  @extend %fwb;
  @extend %h4; 
  @extend %mb0;  
}

.panel-body {
  @extend %text--micro; 
  @extend %mb0; 
}

.panel--asButton {
    cursor: pointer; 

    @include single-transition(all, 0.2s, ease-in-out); 

    &:hover {
        @extend %fwb; 
        @include transform(scale(1.1)); 
    }
}

