
/*------------------------------------*\
    #Panels
\*------------------------------------*/


.panel {
  @extend %panel; 
}


.panel-body {
 @extend %h7; 
}





/*------------------------------------*\
    #Panel Types 
\*------------------------------------*/


.panel--success {
    opacity: 0; 
    display: none; 
    color: #fff; 
    background-color: $primaryColor; 
    border: 0; 
    @extend %position--absolute; 
    @include single-transition(all, 0.4s, ease-in-out); 

    .panel-body {
        color: #fff; 
    }

    &.is-visible {
        opacity: 1; 
        @extend %display--block; 
    }
}


.panel--information {
    border-top: 4px solid $primaryColor;
    background-color: #fff; 

    &:hover {

        .icon {
            fill:  #ace63c; 
        }
    } 
}


.panel--information.front {

    .panel-body {
    
        @include single-transition(all, .2s, ease-in-out); 
        
        .icon {
            
            @include single-transition(all, .2s, ease-in-out); 

        }


    }

    &:hover {
    
        .panel-body {

            .icon {

                color: $secondaryColor; 

            }
        }

    }
}


.panel--alt {

    background-color: $secondaryColor; 

    .panel-body {
        color: #fff; 
    }
    
}






/*------------------------------------*\
    #Flipping Panels
\*------------------------------------*/


/* entire container, keeps perspective */
.flip-container {
    cursor: pointer; 
    @include perspective(600px); 
    @include transform-style(preserve-3d); 
    @include single-transition(all, 0.2s, ease-in-out); 
    @extend %mb3; 
}


/* flip the pane when clicked through jQuery Class 'is-selected' Toggle */
.flip-container.is-selected {

    .back {
        @include transform(rotateY(0deg));
    }

    .front {
        @include transform(rotateY(180deg));

    }

}

/* increase pane size on hover on non-touch devices */
// .no-touch {

//    .flip-container:hover {
//         @include transform(scale(1.02)); 
//     }

// }

/* flip speed goes here */
.flipper {
    @include single-transition(all, 0.2s, ease-in-out); 
    @include transform-style(preserve-3d); 
    @extend %position--relative; 
    
}

/* hide back of pane during swap */
.front, 
.back {
    top: 0;
    left: 0;
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include single-transition(all, 0.2s, ease-in-out);  
    @extend %position--absolute; 
}

/* front pane, placed above back */
.front {
    /* for firefox 31 */
    @include transform(rotateY(0deg));
}

/* back, initially hidden pane */
.back {
    @include transform(rotateY(-180deg));
}

.enter-in {
    opacity: 1;
}





/*------------------------------------*\
    #Flipping Panels Sizes
\*------------------------------------*/


.flip-container.medium {
        width: 100%; 
        min-width: rem-calc(280px);
        height: rem-calc(200px);
    .back, 
    .front {
        width: 100%; 
        min-width: rem-calc(280px);
        height: rem-calc(200px);
    }

}


// .flip-container.small {
//         width: 100%; 
//         min-width: rem-calc(140px);
//         min-height: rem-calc(120px);
//     .back, 
//     .front {
//         width: 100%; 
//         min-width: rem-calc(140px);
//         min-height: rem-calc(120px);
//     }

// }


