
/*------------------------------------*\
    #Sections
\*------------------------------------*/


.section {
    @include box-sizing(border-box);
    @extend %position--relative; 
    @extend %ptb5; 
}



/*------------------------------------*\
    #Section Types 
\*------------------------------------*/


.section--normal {
    background-color: #fff;   
}


.section--highlighted { 
    background-color: $grey--light; 
    border-bottom: solid 1px $grey--mid;  
    border-top: solid 1px $grey--mid;

    .section-text {
        color: #fff; 
    }

}

.section--alt {
    overflow: hidden;
    width: 100%; 
    background-color: $secondaryColor; 

    & > .row { 
      @extend %position--relative; 
    }

    .section-title {
        color: #fff; 
    }

    .section-text {
        color: #fff; 
    }

    .section-text--highlight {
        color: $accentColor;
    }

    .section--alt-bg {
        min-width: rem-calc(800);
        opacity: .3;
        top: 0; 
        left:0; 
        right: 0; 
        bottom: 0; 
        width: 100%;
        @extend %position--absolute; 
        @include filter(grayscale(100%)); 

        @include breakpoint(mobileOnly) {
            margin-left: -50%; 
        }

        @media #{$medium-up} {
            min-width: rem-calc(960);
        }

        @media #{$large-up} {
            min-width: rem-calc(1280);
        }

    }

}


.section--primary {
    background-color: $primaryColor; 

    & .section-text {
        color: #fff; 
    }

}


.section--home {
    @extend %position--relative; 
}


.section--callToAction {
    cursor: pointer; 
    @include single-transition(all, 0.2s, cubic-bezier(.175,.885,.32,1.275)); 

    &:hover {

        @include transform(scale(.95)); 

    }
}


/*------------------------------------*\
    #Section Properties 
\*------------------------------------*/


.section--pinned {
    width: 100%; 
    height: 100vh; 
}





/*------------------------------------*\
    #Map Section  
\*------------------------------------*/


.section-bg--map {

    opacity: .3;
    top: 0; 
    left:0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    z-index: 0; 
    @include filter(grayscale(100%)); 
    @include single-transition(all, 0.3s, ease-in-out); 
    @extend %position--absolute; 

    &.is-visible {
        opacity: 1; 
        @include filter(grayscale(0%)); 
    }

}

.map-toggleButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    opacity: 0; 
    z-index: 2; 
    @extend %position--absolute;
    @include transform(translate(-50%, -50%));

    &.is-visible {
        opacity: 1;
        z-index: 3; 
    }
}

.map-cover {
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    @extend %position--absolute; 

    &.is-hidden {
        display: none !important; 
    }
}





/*------------------------------------*\
    #Section Scroll Blur Effect  
\*------------------------------------*/



// .blurImg {
//   position: relative;
//   width: 100%;
//   height: 440px;
//   z-index: -1;
//   top: 0;
//   left: 0;

//       & > div {
//         position: fixed;
//         width: 100%;
//         height: 440px;
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center center;
//     }
// }


.blur {
  opacity: 0;
  z-index: 4; 
}





/*------------------------------------*\
    #Section Header 
\*------------------------------------*/


.section--header {
    @include single-box-shadow(0, -1px, 6px, 1px, rgba(0, 0, 0, .2), inset);
    @extend %position--relative; 

    @media #{$small-up} {
        height: rem-calc(12 * 14);
    }

    @media  #{$medium-up} {
        height: rem-calc(12 * 18);
    }
    
    .header-content {
        z-index: 100;
        @extend %text--white; 
    }

    .header-title {
        @extend %text--white; 
    }

    .section-bg {
        left: 0; 
        margin: 0 auto;
        opacity: .2;
        right: 0; 
        top: 0;
        width: 100%; 
        z-index: 10; 
        @extend %position--absolute; 
        
        @media #{$medium-up} {
          min-width: rem-calc(880);
        }

        @media #{$large-up}  {
          min-width: rem-calc(1440);
        }

    }

}
