
/*------------------------------------*\
    #Theme Styles 
\*------------------------------------*/


.bg--primaryColor {
    background-color: $primaryColor;
}

.bg--primaryColor--dark {
    background-color: $primaryColor--dark; 
}

.bg--secondaryColor {
    background-color: $secondaryColor; 
}

.bg--accentColor {
    background-color: $accentColor; 
}

.bg--grey {
    background-color: $grey--dark; 
}
